In [2]:
import os
import pandas as pd
import ast
import numpy as np

In [3]:
#df = pd.read_excel(r"C:\Users\SS\Documents\GitHub\pokemmo_py_auto\asserts\coords_tracking\FALLARBOR TOWN coordinates.xlsx", index_col=0)
df = pd.read_excel(r"C:\Users\SS\Documents\GitHub\pokemmo_py_auto\asserts\coords_tracking\SOOTOPOLIS_CITY coordinates.xlsx", index_col=0)
# 先重置索引，这样行标签就变成一列
df = df.reset_index()
df

,index,16,17,18,19,20,21,22,23,24,...,41,42,43,44,45,46,47,48,49,50
0,24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,4.0,pc_in,4.0,4.0,4.0,4.0,NaN,NaN,NaN
9,33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,4.0,4,4.0,4.0,4.0,4.0,NaN,NaN,NaN
10,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,...,NaN,NaN,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN
11,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,...,NaN,NaN,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN
12,36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,...,NaN,NaN,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN
13,37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,...,NaN,4.0,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN
14,38,NaN,NaN,2.0,2.0,2.0,2,2,2,1,...,4.0,4.0,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN
15,39,NaN,NaN,2.0,1.0,1.0,1,1,1,1,...,3.0,4.0,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN
16,40,NaN,NaN,2.0,1.0,1.0,1,1,1,1,...,2.0,3.0,4,4.0,NaN,NaN,NaN,NaN,NaN,NaN
17,41,NaN,NaN,2.0,1.0,1.0,1,1,1,1,...,2.0,3.0,4,4.0,4.0,4.0,4.0,4.0,4.0,NaN
18,42,NaN,NaN,2.0,1.0,1.0,1,1,1,1,...,2.0,3.0,3,3.0,4.0,4.0,4.0,4.0,4.0,4.0
19,43,NaN,NaN,2.0,1.0,1.0,1,1,1,1,...,2.0,2.0,2,2.0,3.0,4.0,4.0,4.0,4.0,4.0
20,44,NaN,NaN,2.0,1.0,1.0,1,1,1,1,...,1.0,1.0,1,2.0,3.0,4.0,4.0,4.0,NaN,NaN
21,45,NaN,NaN,2.0,1.0,1.0,1,1,1,1,...,1.0,1.0,1,2.0,3.0,3.0,3.0,3.0,NaN,NaN
22,46,2.0,2.0,2.0,1.0,1.0,1,1,1,1,...,1.0,1.0,1,2.0,2.0,2.0,2.0,2.0,NaN,NaN
23,47,2.0,1.0,1.0,1.0,1.0,1,1,1,1,...,1.0,1.0,1,1.0,1.0,2.0,2.0,2.0,NaN,NaN
24,48,2.0,1.0,1.0,1.0,1.0,1,1,1,1,...,1.0,1.0,1,1.0,1.0,2.0,NaN,NaN,NaN,NaN
25,49,2.0,1.0,1.0,1.0,1.0,1,1,1,1,...,2.0,2.0,2,2.0,2.0,2.0,NaN,NaN,NaN,NaN
26,50,2.0,1.0,1.0,1.0,1.0,farming,farming,farming,farming,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,51,2.0,1.0,1.0,1.0,1.0,farming,farming,farming,farming,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,52,2.0,1.0,1.0,1.0,1.0,farming,farming,farming,farming,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,53,2.0,1.0,1.0,1.0,1.0,farming,farming,farming,farming,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
30,54,2.0,2.0,2.0,2.0,2.0,farming,farming,farming,farming,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,55,NaN,NaN,NaN,NaN,2.0,2,2,2,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# 使用 melt，这会把所有列都转成两列，一列是原来的列名（变量），一列是对应的值
df_melted = df.melt(id_vars='index', var_name='x_coords', value_name='mark')
df_melted

      index x_coords mark
0        24       16  NaN
1        25       16  NaN
2        26       16  NaN
3        27       16  NaN
4        28       16  NaN
...     ...      ...  ...
1115     51       50  NaN
1116     52       50  NaN
1117     53       50  NaN
1118     54       50  NaN
1119     55       50  NaN

[1120 rows x 3 columns]

In [5]:
# 修改列名
df_melted.rename(columns={'index': 'y_coords'}, inplace=True)
df_melted

      y_coords x_coords mark
0           24       16  NaN
1           25       16  NaN
2           26       16  NaN
3           27       16  NaN
4           28       16  NaN
...        ...      ...  ...
1115        51       50  NaN
1116        52       50  NaN
1117        53       50  NaN
1118        54       50  NaN
1119        55       50  NaN

[1120 rows x 3 columns]

In [6]:
# 过滤掉 mark 列为 NaN 的行
df_melted = df_melted.dropna(subset=['mark'])
df_melted

      y_coords x_coords mark
22          46       16  2.0
23          47       16  2.0
24          48       16  2.0
25          49       16  2.0
26          50       16  2.0
...        ...      ...  ...
1073        41       49  4.0
1074        42       49  4.0
1075        43       49  4.0
1106        42       50  4.0
1107        43       50  4.0

[668 rows x 3 columns]

In [7]:
# 把值为PC_IN的单元格的值改成112
df_melted.loc[df_melted['mark'] == 'pc_in', 'mark'] = 112

df_melted.loc[df_melted['mark'] == 'farming', 'mark'] = 66
# 所有float类型的值转成int
df_melted = df_melted.astype({'mark': 'int'})

df_melted.reset_index(drop=True, inplace=True)

# 输出查看结果
print(df_melted)

     y_coords x_coords  mark
0          46       16     2
1          47       16     2
2          48       16     2
3          49       16     2
4          50       16     2
..        ...      ...   ...
663        41       49     4
664        42       49     4
665        43       49     4
666        42       50     4
667        43       50     4

[668 rows x 3 columns]

In [8]:
df_melted.to_csv(r'C:\Users\SS\Documents\GitHub\pokemmo_py_auto\asserts\coords_tracking\SOOTOPOLIS_CITY_coords_tracking.csv')