In [6]:
import pandas as pd

In [7]:
csv_path = r'C:\Users\Shen\Documents\GitHub\pokemmo_py_auto\data\Pkdx V5.14.csv'
df = pd.read_csv(csv_path)

In [9]:
# Display the first few rows of the DataFrame
df.head()

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Egg Group II,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,Grass,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,Grass,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,Grass,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,Dragon,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,Dragon,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN

In [10]:
df.drop_duplicates(inplace=True)

In [ ]:
df.dropna(inplace=True)

In [11]:
df.columns

Index(['Per', 'Nat', 'Pokemon', 'HP', 'Atk', 'Def', 'SpA', 'SpD', 'Spe',
       'Total', 'Type I', 'Type II', 'Tier', 'Ability I', 'Ability II',
       'Hidden Ability', 'Mass', 'LK/GK', 'EV Worth', 'EXPV', 'Color', 'Hatch',
       'Gender', 'Egg Group I', 'Egg Group II', 'Catch', 'EXP', 'Evolve',
       'Per.1', 'Nat.1', 'Joh', 'Hoe', 'Sin', 'Un'],
      dtype='object')

In [12]:
columns_to_drop = ['Per.1', 'Nat.1', 'Joh', 'Hoe', 'Sin', 'Un']
df.drop(columns_to_drop, axis=1, inplace=True)

In [13]:
new_column_names = {
    'Per': 'Percentage',
    'Nat': 'NationalDex',
    'Pokemon': 'Pokemon',
    'HP': 'Hp',
    'Atk': 'Attack',
    'Def': 'Defense',
    'SpA': 'SpecialAttack',
    'SpD': 'SpecialDefense',
    'Spe': 'Speed',
    'Total': 'TotalStats',
    'Type I': 'Type1',
    'Type II': 'Type2',
    'Tier': 'Tier',
    'Ability I': 'Ability1',
    'Ability II': 'Ability2',
    'Hidden Ability': 'HiddenAbility',
    'Mass': 'Weight',
    'LK/GK': 'LK_GK',
    'EV Worth': 'EVWorth',
    'EXPV': 'ExperienceValue',
    'Color': 'Color',
    'Hatch': 'HatchTime',
    'Gender': 'Gender',
    'Egg Group I': 'EggGroup1',
    'Egg Group II': 'EggGroup2',
    'Catch': 'CatchRate',
    'EXP': 'Experience',
    'Evolve': 'Evolve'
}
df.rename(columns=new_column_names, inplace=True)

In [15]:
columns_to_drop = ['Percentage','NationalDex']
df.drop(columns_to_drop, axis=1, inplace=True)

In [16]:
df

,Pokemon,Hp,Attack,Defense,SpecialAttack,SpecialDefense,Speed,TotalStats,Type1,Type2,...,EVWorth,ExperienceValue,Color,HatchTime,Gender,EggGroup1,EggGroup2,CatchRate,Experience,Evolve
0,Bulbasaur,45,49,49,65,65,45,318,Grass,Poison,...,1 SpA,64,Green,5120,M (87.5%),Monster,Grass,45,1059860,NaN
1,Ivysaur,60,62,63,80,80,60,405,Grass,Poison,...,1 SpA/1 SpD,141,Green,NaN,M (87.5%),Monster,Grass,45,1059860,Lv. 16
2,Venusaur,80,82,83,100,100,80,525,Grass,Poison,...,2 SpA/1 SpD,208,Green,NaN,M (87.5%),Monster,Grass,45,1059860,Lv. 32
3,Charmander,39,52,43,60,50,65,309,Fire,NaN,...,1 Spe,65,Red,5120,M (87.5%),Monster,Dragon,45,1059860,NaN
4,Charmeleon,58,64,58,80,65,80,405,Fire,NaN,...,1 SpA/1 Spe,142,Red,NaN,M (87.5%),Monster,Dragon,45,1059860,Lv. 16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,Kyurem,125,130,90,130,90,95,660,Dragon,Ice,...,"1 HP, 1 Atk, 1 SpA",297,Gray,NONE,None,-,NaN,3,1250000,N
659,Keldeo,91,72,90,129,90,108,580,Water,Fighting,...,3 SpA,261,Yellow,NONE,None,-,NaN,3,1250000,N
660,Meloetta (A),100,77,77,128,128,90,600,Normal,Psychic,...,"1 Spe, 1 SpA, 1 SpD",270,White,NONE,None,-,NaN,3,1250000,N
661,Meloetta (P),100,128,90,77,77,128,600,Normal,Fighting,...,"1 Spe, 1 SpA, 1 SpD",270,White,NONE,None,-,NaN,3,1250000,N
662,Genesect,71,120,95,120,95,99,600,Bug,Steel,...,"1 Atk, 1 Spe, 1 SpA",270,Purple,NONE,None,-,NaN,3,1250000,N

In [98]:
csv_path = r'C:\Users\Shen\Documents\GitHub\pokemmo_py_auto\data\Pkdx V5.14.csv'
df = pd.read_csv(csv_path)

In [99]:
# Display the first few rows of the DataFrame
df.head()

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Egg Group II,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,Grass,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,Grass,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,Grass,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,Dragon,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,Dragon,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN

In [100]:
columns_to_keep = ['Pokemon', 'HP','Type I', 'Type II', 'Gender', 'Catch']
df = df[columns_to_keep]

In [101]:
new_column_names = {
    'Pokemon': 'Pokemon',
    'HP': 'Hp',
    'Type I': 'Type1',
    'Type II': 'Type2',
    'Gender': 'Gender',
    'Catch': 'CatchRate'
}
df.rename(columns=new_column_names, inplace=True)

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663 entries, 0 to 662
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pokemon    663 non-null    object
 1   Hp         663 non-null    int64
 2   Type1      663 non-null    object
 3   Type2      306 non-null    object
 4   Gender     663 non-null    object
 5   CatchRate  663 non-null    int64
dtypes: int64(2), object(4)
memory usage: 31.2+ KB

In [103]:
df['Pokemon'] = df['Pokemon'].str.lower().str.replace(' ', '').str.capitalize()

In [104]:
# Create a new column 'Types' by combining 'Type1' and 'Type2'
df['Types'] = df['Type1'] + '/' + df['Type2'].fillna('')

In [105]:
# Drop the original 'Type1' and 'Type2' columns
df.drop(['Type1', 'Type2'], axis=1, inplace=True)

In [106]:
df

         Pokemon   Hp     Gender  CatchRate            Types
0      Bulbasaur   45  M (87.5%)         45     Grass/Poison
1        Ivysaur   60  M (87.5%)         45     Grass/Poison
2       Venusaur   80  M (87.5%)         45     Grass/Poison
3     Charmander   39  M (87.5%)         45            Fire/
4     Charmeleon   58  M (87.5%)         45            Fire/
..           ...  ...        ...        ...              ...
658       Kyurem  125       None          3       Dragon/Ice
659       Keldeo   91       None          3   Water/Fighting
660  Meloetta(a)  100       None          3   Normal/Psychic
661  Meloetta(p)  100       None          3  Normal/Fighting
662     Genesect   71       None          3        Bug/Steel

[663 rows x 5 columns]

In [107]:
unique_genders = df['Gender'].unique()
print(unique_genders)

['M (87.5%)' 'Neutral' 'F (100%)' 'M (100%)' 'F (75%)' 'M (75%)' 'None']

In [108]:
df['Gender'] = df['Gender'].replace('None', 0).map(lambda x: 1 if x != 0 else x)

In [109]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663 entries, 0 to 662
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pokemon    663 non-null    object
 1   Hp         663 non-null    int64
 2   Gender     663 non-null    int64
 3   CatchRate  663 non-null    int64
 4   Types      663 non-null    object
dtypes: int64(3), object(2)
memory usage: 26.0+ KB

In [63]:
output_csv_path = r'C:\Users\Shen\Documents\GitHub\pokemmo_py_auto\data\clean_pokedex.csv'
df.to_csv(output_csv_path, index=False)

In [71]:
def calculate_catch_rate(max_hp=75, current_hp=1, catch_rate=255, ball_rate=1, pokemon_condition=1):
    numerator = (3 * max_hp - 2 * current_hp) * catch_rate * ball_rate * pokemon_condition
    denominator = (3 * max_hp * 255)
    final_catch_rate = numerator / denominator
    return round(final_catch_rate*100,1)




# Tuple format: (ball_name, rate, price, condition)
balls = [
    ('diveball', 2.5, 960, 'water'),
    ('pokeball', 1, 200, None),
    ('healball', 1, 340, None),
    ('greatball', 1.5, 600, None),
    ('luxuryball', 1, 610, None),
    ('premierball', 1.5, 780, None),
    ('nestball', 4, 1300, 'lv lower than 30'),
    ('timerball', 4, 1300, 'more than 10 rounds'),
    ('ultraball', 2, 1200, None),
    ('quickball', 5, 1350, 'first round'),
    ('duskball', 2.5, 1450, 'in cave or night'),
    ('netball', 2.5, 1670, 'bug or water')
]

# Example usage
catch_rate = 255
ball_rate = 1

for ball in balls:
    ball_name, rate, price, condition = ball
    final_catch_rate = calculate_catch_rate(catch_rate, ball_rate)
    print(f"Ball: {ball_name}")
    print(f"Final Catch Rate: {final_catch_rate}")
    print(f"Price: {price}")
    print(f"Condition: {condition}")
    print()

Ball: diveball
Final Catch Rate: 99.7
Price: 960
Condition: water

Ball: pokeball
Final Catch Rate: 99.7
Price: 200
Condition: None

Ball: healball
Final Catch Rate: 99.7
Price: 340
Condition: None

Ball: greatball
Final Catch Rate: 99.7
Price: 600
Condition: None

Ball: luxuryball
Final Catch Rate: 99.7
Price: 610
Condition: None

Ball: premierball
Final Catch Rate: 99.7
Price: 780
Condition: None

Ball: nestball
Final Catch Rate: 99.7
Price: 1300
Condition: lv lower than 30

Ball: timerball
Final Catch Rate: 99.7
Price: 1300
Condition: more than 10 rounds

Ball: ultraball
Final Catch Rate: 99.7
Price: 1200
Condition: None

Ball: quickball
Final Catch Rate: 99.7
Price: 1350
Condition: first round

Ball: duskball
Final Catch Rate: 99.7
Price: 1450
Condition: in cave or night

Ball: netball
Final Catch Rate: 99.7
Price: 1670
Condition: bug or water

In [72]:
max_hp = 75
current_hp = 1
pokemon_condition = 1

# Create new columns in the DataFrame
df['poke_ball'] = calculate_catch_rate(max_hp, current_hp, df['CatchRate'], 1, pokemon_condition)
df['great_ball'] = calculate_catch_rate(max_hp, current_hp, df['CatchRate'], 1.5, pokemon_condition)
df['ultra_ball'] = calculate_catch_rate(max_hp, current_hp, df['CatchRate'], 2, pokemon_condition)
df['poke_ball_sleep'] = calculate_catch_rate(max_hp, current_hp, df['CatchRate'], 1, 2)
df['greatball_sleep'] = calculate_catch_rate(max_hp, current_hp, df['CatchRate'], 1.5, 2)
df['ultraball_sleep'] = calculate_catch_rate(max_hp, current_hp, df['CatchRate'], 2, 2)

In [80]:
# Define the prices
poke_ball_price = 200
great_ball_price = 600
ultra_ball_price = 1200


# Calculate the estimated money needed for 100% catch rate
df['poke_ball_money'] = (100 / df['poke_ball']) * poke_ball_price
df['great_ball_money'] = (100 / df['great_ball']) * great_ball_price
df['ultra_ball_money'] = (100 / df['ultra_ball']) * ultra_ball_price
df['poke_ball_sleep_money'] = (100 / df['poke_ball_sleep']) * poke_ball_price
df['greatball_sleep_money'] = (100/ df['greatball_sleep']) * great_ball_price
df['ultraball_sleep_money'] = (100/ df['ultraball_sleep']) * ultra_ball_price

In [81]:
df

,Pokemon,Hp,Gender,CatchRate,Types,poke_ball,great_ball,ultra_ball,poke_ball_sleep,greatball_sleep,ultraball_sleep,poke_ball_money,great_ball_money,ultra_ball_money,poke_ball_sleep_money,greatball_sleep_money,ultraball_sleep_money
0,Bulbasaur,45,1,45,Grass/Poison,17.5,26.2,35.0,35.0,52.5,70.0,1142.857143,2290.076336,3428.571429,571.428571,1142.857143,1714.285714
1,Ivysaur,60,1,45,Grass/Poison,17.5,26.2,35.0,35.0,52.5,70.0,1142.857143,2290.076336,3428.571429,571.428571,1142.857143,1714.285714
2,Venusaur,80,1,45,Grass/Poison,17.5,26.2,35.0,35.0,52.5,70.0,1142.857143,2290.076336,3428.571429,571.428571,1142.857143,1714.285714
3,Charmander,39,1,45,Fire/,17.5,26.2,35.0,35.0,52.5,70.0,1142.857143,2290.076336,3428.571429,571.428571,1142.857143,1714.285714
4,Charmeleon,58,1,45,Fire/,17.5,26.2,35.0,35.0,52.5,70.0,1142.857143,2290.076336,3428.571429,571.428571,1142.857143,1714.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,Kyurem,125,0,3,Dragon/Ice,1.2,1.7,2.3,2.3,3.5,4.7,16666.666667,35294.117647,52173.913043,8695.652174,17142.857143,25531.914894
659,Keldeo,91,0,3,Water/Fighting,1.2,1.7,2.3,2.3,3.5,4.7,16666.666667,35294.117647,52173.913043,8695.652174,17142.857143,25531.914894
660,Meloetta(a),100,0,3,Normal/Psychic,1.2,1.7,2.3,2.3,3.5,4.7,16666.666667,35294.117647,52173.913043,8695.652174,17142.857143,25531.914894
661,Meloetta(p),100,0,3,Normal/Fighting,1.2,1.7,2.3,2.3,3.5,4.7,16666.666667,35294.117647,52173.913043,8695.652174,17142.857143,25531.914894
662,Genesect,71,0,3,Bug/Steel,1.2,1.7,2.3,2.3,3.5,4.7,16666.666667,35294.117647,52173.913043,8695.652174,17142.857143,25531.914894

In [87]:
def calculate_catch_rate(max_hp=75, current_hp=1, catch_rate=255, ball_rate=1, pokemon_condition=1):
    numerator = (3 * max_hp - 2 * current_hp) * catch_rate * ball_rate * pokemon_condition
    denominator = (3 * max_hp * 255)
    final_catch_rate = numerator / denominator
    return final_catch_rate

In [114]:
calculate_catch_rate(catch_rate=35, ball_rate=2,pokemon_condition=2)

0.5441394335511982

In [ ]:
result=calculate_catch_rate(calculate_catch_rate=1,calculate_catch_rate=255)

In [110]:
df

         Pokemon   Hp  Gender  CatchRate            Types
0      Bulbasaur   45       1         45     Grass/Poison
1        Ivysaur   60       1         45     Grass/Poison
2       Venusaur   80       1         45     Grass/Poison
3     Charmander   39       1         45            Fire/
4     Charmeleon   58       1         45            Fire/
..           ...  ...     ...        ...              ...
658       Kyurem  125       0          3       Dragon/Ice
659       Keldeo   91       0          3   Water/Fighting
660  Meloetta(a)  100       0          3   Normal/Psychic
661  Meloetta(p)  100       0          3  Normal/Fighting
662     Genesect   71       0          3        Bug/Steel

[663 rows x 5 columns]

In [124]:
def find_best_catch_rate(catch_rate, max_hp=100, ball_rates=[1, 1.5, 2], pokemon_conditions=[1, 2]):
    best_result = None

    for ball_rate in ball_rates:
        for pokemon_condition in pokemon_conditions:
            current_hp = 1  # Assuming a current HP value close to 1

            numerator = (3 * max_hp - 2 * current_hp) * catch_rate * ball_rate * pokemon_condition
            denominator = (3 * max_hp * 255)
            final_catch_rate = numerator / denominator

            if best_result is None or (final_catch_rate > best_result[1]) or (
                    final_catch_rate == best_result[1] and ball_rate < best_result[3]):
                best_result = (current_hp, final_catch_rate, pokemon_condition, ball_rate)

    return best_result


# Example usage
catch_rate = 200
max_hp = 100

best_result = find_best_catch_rate(catch_rate, max_hp, ball_rates=[1], pokemon_conditions=[2])

if best_result is not None:
    current_hp, final_catch_rate, pokemon_condition, ball_rate = best_result
    print("Best Result:")
    print("Current HP:", current_hp)
    print("Catch Rate:", final_catch_rate)
    print("Pokemon Condition:", pokemon_condition)
    print("Ball Rate:", ball_rate)
else:
    print("No combination found.")

Best Result:
Current HP: 1
Catch Rate: 1.558169934640523
Pokemon Condition: 2
Ball Rate: 1

In [111]:
def find_cheapest_catch_option(catch_rate, max_hp=100):
    ball_rate_options = [1, 1.5, 2]
    prices = {1: 200, 1.5: 600, 2: 1200}
    pokemon_conditions = [1, 2]

    cheapest_option = None
    lowest_cost = float('inf')

    for ball_rate in ball_rate_options:
        for pokemon_condition in pokemon_conditions:
            cost = prices[ball_rate]
            catch_prob = (3 * max_hp - 2) * catch_rate * ball_rate * pokemon_condition / (3 * max_hp * 255)
            if catch_prob > 0:
                cost_per_catch = cost / catch_prob
                if cost_per_catch < lowest_cost:
                    lowest_cost = cost_per_catch
                    cheapest_option = (ball_rate, pokemon_condition)

    return cheapest_option


# Example usage
catch_rate = 35
max_hp = 100

cheapest_option = find_cheapest_catch_option(catch_rate, max_hp)

if cheapest_option is not None:
    ball_rate, pokemon_condition = cheapest_option
    print("Cheapest Catch Option:")
    print("Ball Rate:", ball_rate)
    print("Pokemon Condition:", pokemon_condition)
else:
    print("No catch option available.")

Cheapest Catch Option:
Ball Rate: 1
Pokemon Condition: 2