In [6]:
import pandas as pd

In [7]:
csv_path = r'C:\Users\Shen\Documents\GitHub\pokemmo_py_auto\data\Pkdx V5.14.csv'
df = pd.read_csv(csv_path)

In [9]:
# Display the first few rows of the DataFrame
df.head()

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Egg Group II,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,Grass,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,Grass,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,Grass,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,Dragon,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,Dragon,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN

In [10]:
df.drop_duplicates(inplace=True)

In [ ]:
df.dropna(inplace=True)

In [11]:
df.columns

Index(['Per', 'Nat', 'Pokemon', 'HP', 'Atk', 'Def', 'SpA', 'SpD', 'Spe',
       'Total', 'Type I', 'Type II', 'Tier', 'Ability I', 'Ability II',
       'Hidden Ability', 'Mass', 'LK/GK', 'EV Worth', 'EXPV', 'Color', 'Hatch',
       'Gender', 'Egg Group I', 'Egg Group II', 'Catch', 'EXP', 'Evolve',
       'Per.1', 'Nat.1', 'Joh', 'Hoe', 'Sin', 'Un'],
      dtype='object')

In [12]:
columns_to_drop = ['Per.1', 'Nat.1', 'Joh', 'Hoe', 'Sin', 'Un']
df.drop(columns_to_drop, axis=1, inplace=True)

In [13]:
new_column_names = {
    'Per': 'Percentage',
    'Nat': 'NationalDex',
    'Pokemon': 'Pokemon',
    'HP': 'Hp',
    'Atk': 'Attack',
    'Def': 'Defense',
    'SpA': 'SpecialAttack',
    'SpD': 'SpecialDefense',
    'Spe': 'Speed',
    'Total': 'TotalStats',
    'Type I': 'Type1',
    'Type II': 'Type2',
    'Tier': 'Tier',
    'Ability I': 'Ability1',
    'Ability II': 'Ability2',
    'Hidden Ability': 'HiddenAbility',
    'Mass': 'Weight',
    'LK/GK': 'LK_GK',
    'EV Worth': 'EVWorth',
    'EXPV': 'ExperienceValue',
    'Color': 'Color',
    'Hatch': 'HatchTime',
    'Gender': 'Gender',
    'Egg Group I': 'EggGroup1',
    'Egg Group II': 'EggGroup2',
    'Catch': 'CatchRate',
    'EXP': 'Experience',
    'Evolve': 'Evolve'
}
df.rename(columns=new_column_names, inplace=True)

In [15]:
columns_to_drop = ['Percentage','NationalDex']
df.drop(columns_to_drop, axis=1, inplace=True)

In [16]:
df

,Pokemon,Hp,Attack,Defense,SpecialAttack,SpecialDefense,Speed,TotalStats,Type1,Type2,...,EVWorth,ExperienceValue,Color,HatchTime,Gender,EggGroup1,EggGroup2,CatchRate,Experience,Evolve
0,Bulbasaur,45,49,49,65,65,45,318,Grass,Poison,...,1 SpA,64,Green,5120,M (87.5%),Monster,Grass,45,1059860,NaN
1,Ivysaur,60,62,63,80,80,60,405,Grass,Poison,...,1 SpA/1 SpD,141,Green,NaN,M (87.5%),Monster,Grass,45,1059860,Lv. 16
2,Venusaur,80,82,83,100,100,80,525,Grass,Poison,...,2 SpA/1 SpD,208,Green,NaN,M (87.5%),Monster,Grass,45,1059860,Lv. 32
3,Charmander,39,52,43,60,50,65,309,Fire,NaN,...,1 Spe,65,Red,5120,M (87.5%),Monster,Dragon,45,1059860,NaN
4,Charmeleon,58,64,58,80,65,80,405,Fire,NaN,...,1 SpA/1 Spe,142,Red,NaN,M (87.5%),Monster,Dragon,45,1059860,Lv. 16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
658,Kyurem,125,130,90,130,90,95,660,Dragon,Ice,...,"1 HP, 1 Atk, 1 SpA",297,Gray,NONE,None,-,NaN,3,1250000,N
659,Keldeo,91,72,90,129,90,108,580,Water,Fighting,...,3 SpA,261,Yellow,NONE,None,-,NaN,3,1250000,N
660,Meloetta (A),100,77,77,128,128,90,600,Normal,Psychic,...,"1 Spe, 1 SpA, 1 SpD",270,White,NONE,None,-,NaN,3,1250000,N
661,Meloetta (P),100,128,90,77,77,128,600,Normal,Fighting,...,"1 Spe, 1 SpA, 1 SpD",270,White,NONE,None,-,NaN,3,1250000,N
662,Genesect,71,120,95,120,95,99,600,Bug,Steel,...,"1 Atk, 1 Spe, 1 SpA",270,Purple,NONE,None,-,NaN,3,1250000,N

In [17]:
csv_path = r'C:\Users\Shen\Documents\GitHub\pokemmo_py_auto\data\Pkdx V5.14.csv'
df = pd.read_csv(csv_path)

In [18]:
# Display the first few rows of the DataFrame
df.head()

,Per,Nat,Pokemon,HP,Atk,Def,SpA,SpD,Spe,Total,...,Egg Group II,Catch,EXP,Evolve,Per.1,Nat.1,Joh,Hoe,Sin,Un
0,1.0,1.0,Bulbasaur,45,49,49,65,65,45,318,...,Grass,45,1059860,NaN,1.0,1.0,226.0,NaN,NaN,NaN
1,2.0,2.0,Ivysaur,60,62,63,80,80,60,405,...,Grass,45,1059860,Lv. 16,2.0,2.0,227.0,NaN,NaN,NaN
2,3.0,3.0,Venusaur,80,82,83,100,100,80,525,...,Grass,45,1059860,Lv. 32,3.0,3.0,228.0,NaN,NaN,NaN
3,4.0,4.0,Charmander,39,52,43,60,50,65,309,...,Dragon,45,1059860,NaN,4.0,4.0,229.0,NaN,NaN,NaN
4,5.0,5.0,Charmeleon,58,64,58,80,65,80,405,...,Dragon,45,1059860,Lv. 16,5.0,5.0,230.0,NaN,NaN,NaN

In [19]:
columns_to_keep = ['Pokemon', 'Type I', 'Type II', 'Gender', 'Catch']
df = df[columns_to_keep]

In [20]:
new_column_names = {
    'Pokemon': 'Pokemon',
    'Type I': 'Type1',
    'Type II': 'Type2',
    'Gender': 'Gender',
    'Catch': 'CatchRate'
}
df.rename(columns=new_column_names, inplace=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 663 entries, 0 to 662
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Pokemon    663 non-null    object
 1   Type1      663 non-null    object
 2   Type2      306 non-null    object
 3   Gender     663 non-null    object
 4   CatchRate  663 non-null    int64
dtypes: int64(1), object(4)
memory usage: 26.0+ KB

In [23]:
df['Pokemon'] = df['Pokemon'].str.lower().str.replace(' ', '')

In [24]:
# Create a new column 'Types' by combining 'Type1' and 'Type2'
df['Types'] = df['Type1'] + '/' + df['Type2'].fillna('')

In [26]:
# Drop the original 'Type1' and 'Type2' columns
df.drop(['Type1', 'Type2'], axis=1, inplace=True)

In [27]:
df

         Pokemon     Gender  CatchRate            Types
0      bulbasaur  M (87.5%)         45     Grass/Poison
1        ivysaur  M (87.5%)         45     Grass/Poison
2       venusaur  M (87.5%)         45     Grass/Poison
3     charmander  M (87.5%)         45            Fire/
4     charmeleon  M (87.5%)         45            Fire/
..           ...        ...        ...              ...
658       kyurem       None          3       Dragon/Ice
659       keldeo       None          3   Water/Fighting
660  meloetta(a)       None          3   Normal/Psychic
661  meloetta(p)       None          3  Normal/Fighting
662     genesect       None          3        Bug/Steel

[663 rows x 4 columns]

In [28]:
unique_genders = df['Gender'].unique()
print(unique_genders)

['M (87.5%)' 'Neutral' 'F (100%)' 'M (100%)' 'F (75%)' 'M (75%)' 'None']

In [29]:
df['Gender'] = df['Gender'].replace('None', 0).map(lambda x: 1 if x != 0 else x)

In [30]:
df

         Pokemon  Gender  CatchRate            Types
0      bulbasaur       1         45     Grass/Poison
1        ivysaur       1         45     Grass/Poison
2       venusaur       1         45     Grass/Poison
3     charmander       1         45            Fire/
4     charmeleon       1         45            Fire/
..           ...     ...        ...              ...
658       kyurem       0          3       Dragon/Ice
659       keldeo       0          3   Water/Fighting
660  meloetta(a)       0          3   Normal/Psychic
661  meloetta(p)       0          3  Normal/Fighting
662     genesect       0          3        Bug/Steel

[663 rows x 4 columns]

In [ ]:
output_csv_path = r'C:\Users\Shen\Documents\GitHub\pokemmo_py_auto\data\modified_data.csv'
df.to_csv(output_csv_path, index=False)

In [37]:
def calculate_catch_rate(max_hp=30, current_hp=1, catch_rate=255, ball_rate=1, pokemon_condition=1):
    numerator = (3 * max_hp - 2 * current_hp) * catch_rate * ball_rate * pokemon_condition
    denominator = (3 * max_hp * 255)
    final_catch_rate = numerator / denominator
    return final_catch_rate

# Tuple format: (ball_name, rate, price, condition)
balls = [
    ('diveball', 2.5, 960, 'water'),
    ('pokeball', 1, 200, None),
    ('healball', 1, 340, None),
    ('greatball', 1.5, 600, None),
    ('luxuryball', 1, 610, None),
    ('premierball', 1.5, 780, None),
    ('nestball', 4, 1300, 'lv lower than 30'),
    ('timerball', 4, 1300, 'more than 10 rounds'),
    ('ultraball', 2, 1200, None),
    ('quickball', 5, 1350, 'first round'),
    ('duskball', 2.5, 1450, 'in cave or night'),
    ('netball', 2.5, 1670, 'bug or water')
]

# Example usage
catch_rate = 255
ball_rate = 1

for ball in balls:
    ball_name, rate, price, condition = ball
    final_catch_rate = calculate_catch_rate(catch_rate, ball_rate)
    print(f"Ball: {ball_name}")
    print(f"Final Catch Rate: {final_catch_rate}")
    print(f"Price: {price}")
    print(f"Condition: {condition}")
    print()

Ball: diveball
Final Catch Rate: 0.9973856209150327
Price: 960
Condition: water

Ball: pokeball
Final Catch Rate: 0.9973856209150327
Price: 200
Condition: None

Ball: healball
Final Catch Rate: 0.9973856209150327
Price: 340
Condition: None

Ball: greatball
Final Catch Rate: 0.9973856209150327
Price: 600
Condition: None

Ball: luxuryball
Final Catch Rate: 0.9973856209150327
Price: 610
Condition: None

Ball: premierball
Final Catch Rate: 0.9973856209150327
Price: 780
Condition: None

Ball: nestball
Final Catch Rate: 0.9973856209150327
Price: 1300
Condition: lv lower than 30

Ball: timerball
Final Catch Rate: 0.9973856209150327
Price: 1300
Condition: more than 10 rounds

Ball: ultraball
Final Catch Rate: 0.9973856209150327
Price: 1200
Condition: None

Ball: quickball
Final Catch Rate: 0.9973856209150327
Price: 1350
Condition: first round

Ball: duskball
Final Catch Rate: 0.9973856209150327
Price: 1450
Condition: in cave or night

Ball: netball
Final Catch Rate: 0.9973856209150327
Price: 1670
Condition: bug or water